@page
@model LoginModel

@{
    ViewData["Title"] = "Inloggen";
}

<h1 class="text-warning">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Gebruik uw account-details.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Emailadres" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Wachtwoord"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <p>
                            <button type="submit" class="btn btn-warning"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Inloggen</button>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <p>
                        <a class="text-muted" id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                    </p>
                    <p>
                        <a class="text-muted" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Nieuw account registreren</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6">
        <h4>Gebruik uw socials om in te loggen.</h4>
        <hr />
        @if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    Op dit moment kunt u enkel inloggen met uw geregistreerde e-mailadres. Onze excuses voor het ongemak.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-warning" name="provider" value="@provider.Name" title="Inloggen met je @provider.DisplayName account"><i class="fab fa-@provider.DisplayName.ToLower()"></i>&nbsp;&nbsp;@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
